/**************************************************************************************************/
/*                                              Header                                            */
/**************************************************************************************************/

.navigationList{
  display:flex;
  align-items: center;
  font-family: "comic";
  font-weight:900;
  font-style: italic;
}
.boite{
  padding-top:8px;
  border: 2px solid rgb(64, 64, 235);
  box-shadow: 4px 3px 7px rgb(70, 69, 69);
  background-color: lightblue;
  text-align: center;
  margin-right:10vw;
  list-style: none;
  font-size: 1.7vw;
  width: 7vw;
  height: 2.5vw;
  overflow:hidden;
}
.boite2{
  width:8vw;
}
.boite3{
  width:11vw;
}
.textdef{
  text-decoration: none;
  color:black;
  position: relative;
}
.lientextdef{
  text-decoration: none;
}
.boite:hover .textdef{
  animation:linear defilement 1.2s infinite;
}
.boite1{
  list-style: none;
  position:relative;
}
.mText{
  display:none;
}
.boite1:hover .mText{
  // display:block;
  display:flex;
  flex-direction: column;
  position:absolute;
  width:14vw;
  z-index: 2;
}
.boite1:hover .textdef{
  animation:linear defilement 1.2s infinite;
}
.boite1:hover .menuText{
  display:block;
  font-size: 1.5vw;
  background-color: lightgrey;
  text-decoration: none;
  color:black;
}
.boite1 .mt:hover{
  background-color: rgb(242, 167, 167);
}
@keyframes defilement{
  /* 30%{color:white;} */
  0% {left:100%;}
  100% {left:-100%;}
}
.imageLogo{
  width:6rem;
  margin-left:1rem;
}
.logo{
  margin-top:0.5vh;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height:7.5rem;
  background: linear-gradient(to right,rgb(43, 111, 116), rgba(183,226,253,1));
}
.imageLogo:hover{
  animation: rotateAnim 0.4s infinite;
}
@keyframes rotateAnim {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}
body{
  background-image: url(../images/concept-collage-html-css.jpg);
  width:100%;
  background-size:cover;
  background-repeat: no-repeat;
}
.barMenu{
  display:none;
}
@media screen and (orientation:portrait), screen and (max-width:1250px) {
  nav{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .b1{
    grid-row: 1;
    grid-column:1;
  }
  .b2{
    grid-row:2;
    grid-column: 1;
  }
  .b3{
    grid-row:1;
    grid-column: 2;
  }
  .navigationList{
    display:block;
    margin-left:1rem;
  }
  .boite2{
    height:1.25rem;
    width:auto;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  .boite3{
    height:1.25rem;
    width:auto;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  .textdef{
    font-size: 1rem;
  }
  .mText{
    display:flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  .menuText{
    text-decoration: none;
    color:black;
  }
  .barMenu{
    display:block;
    font-size: 1.25rem;
    border:2px solid black;
    border-radius:5px;
    padding:0.25rem 0.5rem;
    margin-right: 1rem;
  }
  .barNone{
    display:none;
  }
  .imageLogo:hover{
    animation:none;
  }
  .boite1:hover .textdef{
    animation:none;
  }
  .boite:hover .textdef{
    animation:none;
  }
  .boite1:hover{
    margin-bottom: 0.5rem;
  }
  .boite1:hover .mText{
    all:unset;
    margin-bottom: 0.5rem;
  }
  .boite1:hover .mt{
    all:unset;
    display:flex;
    flex-direction: column;
    cursor:pointer;
  }
}