
/**************************************************************************************************/
/*                                            Home                                                */
/**************************************************************************************************/
.cvHomeSection{
    margin:3rem 0 3rem 4rem;
    color:white;
}
.titleHome{
    display:block;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    text-align: center;
}
.titleHome:hover{
  background-color: rgb(242, 167, 167);
}
.cvnewHomeContainer{
    width:4rem;
    height:2rem;
    transform: skewX(-15deg);
    background-color: grey;
    margin-bottom: 1rem;
}
.homePara{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    // background-color: rgba(252, 147, 147, 0.7);
}
.cvHomeContainer{
    width:20rem;
    height:2rem;
    transform: skewX(-15deg);
    background-color: grey;
    margin-bottom: 1rem;
}
.cvHomeSection{
    border-bottom: 1px solid rgb(21,21,21);
    border-right:1px solid rgb(21,21,21);
    width:90%;
    box-shadow: 3px 3px 5px rgb(21,21,21);
    backdrop-filter: blur(7px) hue-rotate(7deg);
}
.cvHomeSection img{
    margin-bottom: 1rem;
}
.spaceHomeContainer{
    width:10rem;
    height:2rem;
    transform: skewX(-15deg);
    background-color: grey;
    margin-bottom: 1rem;
}
.morpionHomeContainer{
    width:6rem;
    height:2rem;
    transform: skewX(-15deg);
    background-color: grey;
    margin-bottom: 1rem;
}
.memoryHomeContainer{
    width:6rem;
    height:2rem;
    transform: skewX(-15deg);
    background-color: grey;
    margin-bottom: 1rem;
}
.runHomeContainer{
    width:10rem;
    height:2rem;
    transform: skewX(-15deg);
    background-color: grey;
    margin-bottom: 1rem;
}
.kataHomeContainer{
    width:6rem;
    height:2rem;
    transform: skewX(-15deg);
    background-color: grey;
    margin-bottom: 1rem;
}
.kataPara{
    text-decoration: none;
    color:white;
}
.screenHomeContainer{
    display:flex;
    flex-wrap:wrap;
    gap:1.25rem;
}
@media screen and (max-width:768px) {
    .titleHome{
        // font-size:1rem;
        text-align: left;
    }
    .cvnewHomeContainer{
        height:1.5rem;
    }
    .homePara{
        font-size: 1rem;
    }
    .cvHomeSection{
    margin:3rem 0 3rem 1rem;
    }
    .screenHomeContainer{
    display:flex-wrap;
    flex-direction: column;
    gap:1.25rem;
}
}